@keyframes li-1 {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  60% {
    transform: translateY(-60px);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}
@keyframes music {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
